@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
}


.main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(abstract-wave-line-pattern-on-dark-blue-background-futuristic-technology-concept-suit-for-banner-poster-cover-brochure-flyer-website-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    row-gap: 1.2rem;
}

input{
    border: none;
    outline: none;
}

ul{
    list-style: none;
}

.name-list{
    padding-block: 0.5rem;
}

button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.15rem;
}

.name-list li{
    line-height: 1.5;
    padding: 0.1rem;
    transition: opacity 0.4s ease-in;
    font-weight: 300;
}

.form{
    position: relative;
    --bg-color: rgba(255, 255, 255, 0.25);
    --highlight: rgba(255, 255, 255, 0.75);
    --text: #ffffff;
    --input-bg: rgba(255, 255, 255, 0.1);
    --input-border: rgba(255, 255, 255, 0.2);
    --input-focus: rgba(255, 255, 255, 0.3);
    width: 500px;
    min-height: 300px;
    border-radius: 1rem;
    padding: 1.25rem;
}

.name-list, .search-bar, .btn-cont{
    position: relative;
    z-index: 4;
}

.btn-cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.glass-filter,
.glass-overlay,
.glass-specular {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.glass-filter {
  z-index: 1;
  backdrop-filter: blur(4px);
  filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}

.glass-overlay {
  z-index: 2;
  background: var(--bg-color);
}

.glass-specular {
  z-index: 3;
  box-shadow: inset 1px 1px 1px #ffffff05;
}

.search-bar {
    padding-inline: 0.5rem;
    padding-block: 0.6rem;
    width: 100%;
    background: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
}

.search-bar::placeholder{
    color: #fff;
}

.btn-sort {
  padding-block: 0.5rem;
  padding-inline: 0.7rem;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.3s;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}

.btn-sort::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, transparent, #fff, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}

.btn-sort:hover {
  background-color: transparent;
  border: 1px solid #101A88;
  box-shadow: 0 0 20px 5px #101A88;
}

.btn-sort:hover::before {
  transform: translateX(100%);
}